<!-- Loader starts-->
<!-- Loader ends-->
<!-- tap on top starts-->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- tap on tap ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header Start-->
  <app-header></app-header>
  <!-- Page Header Ends                              -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    <app-navigation></app-navigation>
    <!-- Page Sidebar Ends-->
    <!-- <div class="page-body"> -->
      <div class="container-fluid">
        <!-- <div class="page-title"> -->
          <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center" style="height: 80vh;">
              <h1 class="text-center">
                Dashbaord Comming Soon
              </h1>
            </div>
          </div>
        <!-- </div> -->
      </div>
      <!-- Container-fluid Ends-->
    <!-- </div> -->
    <!-- footer start-->
    <app-footer></app-footer>
  </div>
</div>
<!-- <app-footer></app-footer>

<div class="col-2">
  <app-navigation></app-navigation>
</div>
<div class="col-10">
  <router-outlet></router-outlet> -->