<!-- <div class="container login-header-wrapper">
  <div class="row">
    <div class="col text-center header-text">
      <h2>Initail Project Login</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-3 login-form-wrapper">
      <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate autocomplete="off">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control form-control-lg" placeholder="Your Email *" formControlName="email" />
        </div>
        <div class="form-group mt-3">
          <label>Password</label>
          <input type="password" class="form-control form-control-lg mt-2" placeholder="Your Password *" formControlName="password" />
        </div>
        <div class="form-group mt-3">
          <button type="submit" class="btn btn-block btn-login" >
            <span *ngIf="!loading">Login</span>
            <span *ngIf="loading">Please wait...</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<div class="loader-wrapper" *ngIf="loading">
  <div class="loader">
    <div class="loader-bar"></div>
    <div class="loader-bar"></div>
    <div class="loader-bar"></div>
    <div class="loader-bar"></div>
    <div class="loader-bar"></div>
    <div class="loader-ball"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-7 p-0"><img class="bg-img-cover bg-center w-100" src="assets/images/login-cover.jpg" alt="looginpage"></div>
    <div class="col-xl-5 p-0">
      <div class="login-card" *ngIf="ready">
        <form class="theme-form login-form"  [formGroup]="loginForm" (ngSubmit)="login()" novalidate autocomplete="off">
          <h1 class="text-center">FOOD</h1>
          <h4>Login</h4>
          <h6>Welcome back! Log in to your account.</h6>
          <div class="form-group">
            <label>Email Address</label>
            <div class="input-group"><span class="input-group-text"><i class="icon-email"></i></span>
              <input class="form-control" type="email"  placeholder="xxx@xxxx.xxx" formControlName="email">
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
              <input class="form-control" type="password" name="login[password]" placeholder="*********"  formControlName="password" >
              <div class="show-hide"><span class="show">                         </span></div>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <input id="checkbox1" type="checkbox">
              <label class="text-muted" for="checkbox1">Remember password</label>
            </div>
            <!-- <a class="link" href="forget-password.html">Forgot password?</a> -->
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" (click)="login()" [disabled]="loading || !loginForm.valid">
              <span *ngIf="!loading">Sign in</span>
            <span *ngIf="loading">Please wait...</span>
            </button>
          </div>
          <p>Don't have account?<a class="ms-2" href="sign-up.html">Create Account</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
